form {
    border: 1px solid black;
    width: 25%;
}


/*------------------- themoviedb.org API test ----------------*/
section {
    display: flex;
    width: 100%;
    overflow-x: auto;
    height: 29rem;
}

.movieFromAPI img{
    width: 300px;
    transition: 250ms all;

}

.movieFromAPI {
    position: relative;
}

.movieFromAPI button {
    position: absolute;
    z-index: 1000;
    right: 0;
}

.movieFromAPI #movieImg:hover,
.movieFromAPI button:hover ~ #movieImg,
.movieFromAPI #movieImg:hover ~ button {
    /*margin-left: 2rem;*/
    /*margin-right: 2rem;*/
    transform: scale(1.2);
    cursor: pointer;
}
