body {
    background-color: #393b44;
}

form {
    border: 1px solid black;
    width: 25%;
}

.movie {
    margin: 2rem 2rem;
}


/*------------------- themoviedb.org API test ----------------*/
section {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    height: 28rem;
}

.movieFromAPI img{
    width: 200px;
    transition: 250ms all;

}

.movieFromAPI {
    position: relative;
    margin: 1rem 1rem;
}

.movieFromAPI button {
    display: none;
    position: absolute;
    z-index: 1000;
    right: 0;
}

.movieFromAPI:hover button {
    display: block;
    position: absolute;
    z-index: 1000;
    right: 0;
}

#movieImg {

}

.movieFromAPI #movieImg:hover,
.movieFromAPI button:hover ~ #movieImg,
.movieFromAPI #movieImg:hover ~ button {
    background-color: #000;
    opacity: 0.2;
    cursor: pointer;
}

h2 {
    margin: 2rem 2rem;
    color: #fff;
    text-align: center;
}

.addMovie {
    border-radius: 50%
}

.fa-couch {
    color: white;
}

.modal-content {
    overflow: auto;
    height: 100vh;
}

.modal-ft {
    position: fixed;
    bottom: 0;
    right: 3rem;
}


/* TOP NAVBAR */



