body {
    background-color: #393b44;
}

form {
    border: 1px solid black;
    width: 25%;
}

.movie {
    margin: 2rem 2rem;
}


/*------------------- themoviedb.org API test ----------------*/
section {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    height: 28rem;
}

.movieFromAPI img{
    width: 300px;
    transition: 250ms all;

}

.movieFromAPI {
    position: relative;
}

.movieFromAPI button {
    position: absolute;
    z-index: 1000;
    right: 0;
}

#movieImg {
    border-radius: 5%;
}

.movieFromAPI #movieImg:hover,
.movieFromAPI button:hover ~ #movieImg,
.movieFromAPI #movieImg:hover ~ button {
    /*margin-left: 2rem;*/
    /*margin-right: 2rem;*/
    transform: scale(1.1);
    cursor: pointer;
}

h2 {
    margin: 2rem 2rem;
    color: #fff;
    text-align: center;
}

.addMovie {
    border-radius: 50%
}


